assets/images/profile/*
!images/profile/none.jpg
app/uploads/*
!app/uploads/shared_docs/
app/uploads/shared_docs/*
!app/uploads/shared_docs/*.php
!app/uploads/*.php
/vendor/
/node_modules

# Env
env.php
.env

# Logs
/logs
/tests/runtime
