assets/images/profile/*
app/uploads/*
/vendor
/node_modules
/composer.phar

# Env
env.php
.env
/.secrets

# Logs
/logs
/.logs
/tests/runtime

# Doctrine Proxies
/database/proxies
/database/cache

#sqlite
/.sqlite

# clubs
/.club_data
