.tab-list {
  white-space: nowrap;
  overflow-x: auto;
}
.tab-list > button {
  margin: 0.1rem;
  border-radius: 1.5rem;
}
.filter-panel {
  padding: 1rem;
}

.entries-header {
  display: grid;
  justify-items: end;
}
