tr.delimiter {
  background-color: var(--card-sectionning-background-color) !important;
}
.event-date,
.event-limit {
  white-space: nowrap;
  grid-area: event-limit;
}
.event-date > *,
.event-limit > * {
  margin-right: 0.5rem;
}
.event-limit.warning {
  color: orange;
}
.event-limit.passed {
  opacity: 0.7;
  text-decoration: line-through;
  color: red;
}

@media screen and (max-width: 768px) {
  table tr {
    display: grid;
    grid:
      "icon name name"
      "date date limit" / auto 1fr;
    border-bottom: var(--border-width) solid var(--table-border-color);
    align-items: center;
  }
  table td {
    border-bottom: none;
  }
  table .event-entry {
    grid-area: icon;
    padding-bottom: 0;
  }
  table .event-name {
    grid-area: name;
    padding-bottom: 0;
  }
  table .event-date {
    grid-area: date;
  }
  table .event-limit {
    grid-area: limit;
  }
  .header-responsive {
    display: none;
  }
}

@media (min-width: 768px) {
  .responsive-description {
    display: none;
  }

  .competition-date div {
    display: grid;
    grid: auto-flow / auto 1fr;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
  }
}

.birthday {
  border-left: solid 5px;
  border-color: var(--primary-focus);
  background-color: var(--card-background-color);
  padding: 10px;
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 15% auto auto 20%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "icon title title button"
    "icon dates event-limit button";
  align-items: center;
}

@media screen and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 10% auto auto 15%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "icon title title button"
      "icon dates event-limit button";
  }
}

.icon {
  grid-area: icon;
  text-align: center;
  align-items: center;
}

.title {
  grid-area: title;
}

.dates {
  grid-area: dates;
}

.info-button {
  grid-area: button;
  justify-self: center;
  align-items: center;
}

.event-article {
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 0.75);
  margin: calc(var(--spacing)) 0;
}
