.event-date,
.event-limit {
  white-space: nowrap;
}
.event-date > *,
.event-limit > * {
  margin-right: 0.5rem;
}
.event-limit {
  text-align: right;
}
.event-row {
  cursor: pointer;
  position: relative;
}
/* hover effect, optimizing framerate and re-rendering
with ::after component */
.event-row::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  box-shadow: 0px 0px 8px var(--primary-hover);
  transition: opacity 0.4s ease;
}
.event-row:hover::after {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  table tr {
    display: grid;
    grid:
      "icon name name"
      "date date limit" / auto 1fr;
    border-bottom: var(--border-width) solid var(--table-border-color);
    align-items: center;
  }
  table td {
    border-bottom: none;
  }
  table .event-entry {
    grid-area: icon;
    padding-bottom: 0;
  }
  table .event-name {
    grid-area: name;
    padding-bottom: 0;
  }
  table .event-date {
    grid-area: date;
  }
  table .event-limit {
    grid-area: limit;
  }
  .header-responsive {
    display: none;
  }
}

@media (min-width: 768px) {
  .responsive-description {
    display: none;
  }

  .competition-date div {
    display: grid;
    grid: auto-flow / auto 1fr;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
  }
}
