.birthday-wrapper {
  margin-bottom: 2rem;
}
.birthday {
  border-left: solid 5px;
  border-color: var(--pico-primary-focus);
  background-color: var(--pico-card-background-color);
  padding: 10px;
  margin-bottom: 10px;
}
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "icon title title"
    "dates dates event-limit";
}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 15% auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "icon title title"
      "icon dates event-limit";
    align-items: center;
    row-gap: 0.3rem;
  }
}

.icon {
  grid-area: icon;
  text-align: center;
  align-self: center;
  padding: 0.2rem;
}

.title {
  grid-area: title;
  text-decoration: none;
  align-self: center;
}

.dates {
  grid-area: dates;
}

.event-limit {
  white-space: nowrap;
  grid-area: event-limit;
  justify-self: end;
}
.dates > *,
.event-limit > * {
  margin-right: 0.5rem;
  white-space: nowrap;
}
.event-limit.warning {
  color: orange;
}
.event-limit.passed {
  opacity: 0.7;
  text-decoration: line-through;
  color: var(--pico-secondary);
}

.event-article {
  padding: var(--pico-spacing);
  margin: 0 0 var(--pico-spacing);
  cursor: pointer;
}

.event-article:where(:hover, :focus, :focus-within) {
  background-color: var(--pico-secondary-focus) !important;
  outline: none;
}
