del {
  text-decoration: none;
}
header > .row {
  justify-content: center;
  margin-bottom: 2rem;
}
header > .row > .col-sm-6 {
  width: fit-content;
}
@media screen and (max-width: 768px) {
  tr.display {
    display: grid;
    grid:
      "icon name name"
      "icon date date"
      "icon place place" / auto auto 1fr;
    border-bottom: var(--pico-border-width) solid var(--pico-table-border-color);
  }

  table td {
    border-bottom: none;
  }
  table .activity-name {
    grid-area: name;
    padding-bottom: 0;
  }
  table .activity-date {
    grid-area: date;
  }
  table .activity-place {
    grid-area: place;
  }
  table .activity-entry {
    grid-area: icon;
    align-self: center;
  }

  .button-group-row {
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--pico-spacing);
  }

  .button-group-row button {
    width: 100%;
    max-width: 300px;
    min-width: unset;
    margin-bottom: 0;
  }
}

.file-button {
  justify-content: center;
  margin-bottom: 2rem;
}

textarea {
  resize: none;
}

#conditionalText {
  display: none;
}
.eventForm.hidden ~ #conditionalText {
  display: block;
}

.fa-ul li {
  list-style: none;
}

details summary:focus:not([role="button"]) {
  color: var(--pico-accordion-close-summary-color);
}

ul {
  margin-bottom: 0.5rem;
}

.button-group-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-group-row button {
  font-size: 0.9rem;
  padding: calc(var(--pico-form-element-spacing-vertical) * 0.8)
    calc(var(--pico-form-element-spacing-horizontal) * 0.8);
  min-width: 150px;
}
