.group-article {
  padding: var(--pico-spacing);
  margin: 0 0 var(--pico-spacing);
  cursor: pointer;
}

.group-article:where(:hover, :focus, :focus-within) {
  background-color: var(--pico-secondary-focus) !important;
  outline: none;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-areas: "group-dot title";
}

.group-dot {
  align-items: center;
  justify-content: center;
  align-self: center;
  aspect-ratio: 1 / 1;
  width: 25px;
  border-radius: 50%;
}
