.row-events {
    margin-top: calc(var(--typography-spacing-vertical));
    margin-bottom: calc(var(--typography-spacing-vertical));
    padding-top: 15px;
    padding-bottom: 15px;
    background: var(--secondary);
    color: var(--secondary-inverse);
    text-align: center;
    border-radius: 7px;
}

.row-title {
    color: var(--primary);
}

.row {
    text-align: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'1,
        'wght'700,
        'GRAD'0,
        'opsz'48
}
