article > header {
  text-align: center;
}
article > header > .row {
  justify-content: center;
}
@media screen and (max-width: 769px) {
  table tr {
    display: grid;
    grid:
      "name name"
      "date place" / auto 1fr;
  }

  table .course-name {
    grid-area: name;
    border-bottom: none;
    padding-bottom: 0;
  }
  table .course-date {
    grid-area: date;
  }
  table .course-place {
    grid-area: place;
  }
}
