article > header > .row {
  justify-content: center;
}
p > span {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  table tr {
    display: grid;
    grid:
      "icon name name"
      "icon date place" / auto auto 1fr;
    border-bottom: var(--border-width) solid var(--table-border-color);
  }

  table td {
    border-bottom: none;
  }
  table .course-name {
    grid-area: name;
    padding-bottom: 0;
  }
  table .course-date {
    grid-area: date;
  }
  table .course-place {
    grid-area: place;
  }
  table .course-entry {
    grid-area: icon;
    align-self: center;
    padding-bottom: 0;
  }
}
