.link-grid {
  display: grid;
  grid-template-columns: 1fr 3fr auto;
  gap: 1rem;
  align-items: center;
  margin-bottom: 20px;
}

.link-grid > div:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
}
