/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: hsl(123, 78%, 38%);
  --primary-hover: hsl(121, 78%, 33%);
  --primary-focus: hsla(123, 78%, 38%, 0.125);
  --primary-inverse: #fff;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: hsl(123, 68%, 36%);
    --primary-hover: hsl(125, 82%, 52%);
    --primary-focus: hsla(123, 78%, 48%, 0.25);
    --primary-inverse: #fff;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: hsl(123, 68%, 36%);
  --primary-hover: hsl(125, 82%, 52%);
  --primary-focus: hsla(123, 78%, 48%, 0.25);
  --primary-inverse: #fff;
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

main.container:has(#page-actions.sticky) {
  margin-top: 2rem;
  position: relative;
}

.center {
  text-align: center;
}
.row.center {
  justify-content: center;
}
/* Disable article margin top because what's the point */
article {
  margin-top: 0;
}
.success {
  color: var(--ins-color);
}
.error,
a:not([type="button"]).destructive {
  color: var(--del-color);
}
label.error:hover {
  cursor: pointer;
  text-decoration: underline;
}
a[type="button"].destructive,
button.destructive {
  background-color: var(--del-color);
  border-color: var(--del-color);
}
.space-before {
  margin-left: 0.5em;
}

/* Nav bar */
#main-menu {
  position: relative;
}
#main-menu .responsive {
  display: none;
}
#main-menu > ul > li:hover > a {
  background-color: var(--dropdown-hover-background-color);
  color: var(--primary-hover);
}
#main-menu li:hover a.disconnect {
  color: var(--del-color);
}
@media screen and (max-width: 768px) {
  #main-menu {
    float: left;
  }
  #main-menu,
  #main-menu.toggled ul {
    flex-direction: column;
    align-items: flex-start;
  }
  #main-menu ul:not(.responsive) {
    display: none;
  }
  #main-menu ul.responsive {
    display: flex;
  }
  #main-menu.toggled ul:not(.responsive) {
    display: flex;
  }
  #main-menu.toggled ul:not(.responsive) li {
    padding: 7px;
  }
}
#page-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 0.5rem;
}
#page-actions button {
  margin: 0;
  padding: 0.5em 1em;
}
#page-actions > li,
#page-actions > a {
  padding: 0.65em;
  text-decoration: none;
}
#page-actions > li:hover,
#page-actions > a:hover {
  --background-color: var(--secondary-focus);
}
#page-actions > li > summary > i {
  transition: rotate 0.2s;
}
#page-actions > li:hover > summary > i {
  rotate: 90deg;
}
#page-actions.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: var(--background-color);
  align-items: center;
  height: fit-content;
}

/* table hover effect */
tbody > tr.clickable {
  cursor: pointer;
  position: relative;
}
/* hover effect, optimizing framerate and re-rendering
  with ::after component */
tbody > tr.clickable::after {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  box-shadow: 0px 0px 8px var(--primary-hover);
  transition: opacity var(--transition);
}
tbody > tr.clickable:hover::after {
  opacity: 1;
}

/* Conditional text display */
input[role="switch"]:checked ~ del {
  display: none;
  text-decoration: none;
}
input[role="switch"]:checked ~ ins {
  display: inline;
}
input[role="switch"]:not(:checked) ~ del {
  display: inline;
  text-decoration: none;
}
input[role="switch"]:not(:checked) ~ ins {
  display: none;
}
