/* Green Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: hsl(123, 78%, 38%);
  --primary-hover: hsl(121, 78%, 33%);
  --primary-focus: hsla(123, 78%, 38%, 0.125);
  --primary-inverse: #fff;
}

/* Green Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: hsl(123, 68%, 36%);
    --primary-hover: hsl(125, 82%, 52%);
    --primary-focus: hsla(123, 78%, 48%, 0.25);
    --primary-inverse: #fff;
  }
}

/* Green Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: hsl(123, 68%, 36%);
  --primary-hover: hsl(125, 82%, 52%);
  --primary-focus: hsla(123, 78%, 48%, 0.25);
  --primary-inverse: #fff;
}

/* Green (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

/* theme toggle */
.theme-toggle {
  --size: 1.5rem;
  box-shadow: none;
  margin-left: auto;
}

#hx-indicator {
  position: fixed;
  top: 0.8rem;
  left: 6rem;
  display: none;
  z-index: 6;
}
#hx-indicator.htmx-request {
  display: block;
}

/* change these rules to not be bothr*/
details[dir="rtl"] ul > li {
  left: auto;
  direction: ltr;
}

.center {
  text-align: center;
}
.row.center {
  justify-content: center;
}
/* Disable article margin top because what's the point */
article {
  margin-top: 0;
}
.success {
  color: var(--ins-color);
}
label.error {
  color: var(--del-color);
}
.error,
.destructive {
  --primary: var(--del-color);
  --dropdown-color: var(--del-color);
  --primary-hover: var(--del-color);
}
label.error:hover {
  cursor: pointer;
  text-decoration: underline;
}
.space-before {
  margin-left: 0.5em;
}

/* Page actions */
#page-actions {
  display: flex;
  height: fit-content;
  padding: 0.5rem;
  position: sticky;
  top: 2.5rem;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--background-color);
}
#page-actions button {
  margin: 0;
  padding: 0.5em 1em;
  width: fit-content;
}
#page-actions > :where(a, li) {
  margin: 0;
  padding: 0.65em;
  text-decoration: none;
}
#page-actions > :where(a, li):hover {
  --background-color: var(--secondary-focus);
}

@media screen and (min-width: 992px) {
  #hx-indicator {
    left: calc(250px + 1rem);
  }
  #page-actions {
    top: 0;
  }
}

/* table hover effect */
tbody > tr.clickable {
  cursor: pointer;
  position: relative;
}
tbody > tr.clickable:where(:hover, :focus) {
  background-color: var(--secondary-focus);
  outline: none;
}

/* Conditional text display */
input[role="switch"]:checked ~ del {
  display: none;
  text-decoration: none;
}
input[role="switch"]:checked ~ ins {
  display: inline;
}
input[role="switch"]:not(:checked) ~ del {
  display: inline;
  text-decoration: none;
}
input[role="switch"]:not(:checked) ~ ins {
  display: none;
}

/* Controlled users */
.control-notice {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0 auto 2rem;
  color: black;
  background-color: var(--mark-background-color);
}

.control-notice > form {
  margin: 0 0 0 auto;
}

.control-notice button {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
  height: 1.5rem;
  color: black;
}

.control-notice ~ main {
  padding-top: 0;
}
