/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: hsl(123, 78%, 38%);
  --primary-hover: hsl(121, 78%, 33%);
  --primary-focus: hsla(123, 78%, 38%, 0.125);
  --primary-inverse: #fff;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: hsl(123, 78%, 48%);
    --primary-hover: hsl(125, 82%, 52%);
    --primary-focus: hsla(123, 78%, 48%, 0.25);
    --primary-inverse: #fff;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: hsl(123, 78%, 48%);
  --primary-hover: hsl(125, 82%, 52%);
  --primary-focus: hsla(123, 78%, 48%, 0.25);
  --primary-inverse: #fff;
}

/* Pink (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

.center {
  text-align: center;
}
.row.center {
  justify-content: center;
}
/* Disable article margin top because what's the point */
article {
  margin-top: 0;
}
.success {
  color: var(--ins-color);
}
.error,
a:not([type="button"]).destructive {
  color: var(--del-color);
}
label.error:hover{
  cursor: pointer;
  text-decoration: underline;
}
a[type="button"].destructive,
button.destructive {
  background-color: var(--del-color);
  border-color: var(--del-color);
}

/* Nav bar */
#main-menu {
  position: relative;
}
#main-menu .responsive {
  display: none;
}
#main-menu > ul > li:hover > a {
  background-color: var(--dropdown-hover-background-color);
  color: var(--primary-hover);
}
#main-menu li:hover a.disconnect {
  color: var(--del-color);
}
@media screen and (max-width: 768px) {
  #main-menu {
    float: left;
  }
  #main-menu,
  #main-menu.toggled ul {
    flex-direction: column;
    align-items: flex-start;
  }
  #main-menu ul:not(.responsive) {
    display: none;
  }
  #main-menu ul.responsive {
    display: flex;
  }
  #main-menu.toggled ul:not(.responsive) {
    display: flex;
  }
  #main-menu.toggled ul:not(.responsive) li {
    padding: 7px;
  }
}
.page-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
