.fullheight-wrapper {
  height: calc(100dvh - 3rem);
  padding: 1.5rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.messages::-webkit-scrollbar {
  width: 0.25rem;
}
/* Track */
.messages::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.messages::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.messages::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message {
  margin: 0.5em;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.message.me {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.message > .content {
  padding: 0.8em 1em;
  background-color: rgb(0, 102, 102);
  border-radius: 1em 1em 1em 0;
  color: white;
}

.message.me > .content {
  background-color: rgb(0, 102, 42);
  border-radius: 1em 1em 0 1em;
}

.message > .info {
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
}

.message.me > .info {
  align-items: flex-end;
}
