:not(form) :not(footer) button {
  display: inline;
  width: fit-content;
}

nav.topnav {
  font-size: 1.5rem;
  line-height: 1em;
  height: 3rem;
  position: absolute;
  inset: 0 0 auto;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--pico-card-background-color);
}

nav.topnav :is(button, a) {
  padding: 0 0.5rem;
  margin: 0;
  border: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow-x: hidden;
  transition: width 0.2s;
  padding: 0.5rem 0 1rem;
  background: var(--pico-card-background-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.sidenav.notvisible {
  visibility: hidden;
}

.sidenav > nav {
  /*just so that we are safe from overflowing*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav .nav-title {
  display: block;
  margin: 0.25rem 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Faro Light";
}

body:has(.sidenav) > header {
  position: sticky;
  top: 0;
  z-index: 4;
  margin: 0;
  padding: 0 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  background: var(--pico-card-background-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

body:has(.sidenav) > header > * {
  margin: 0;
  padding: 0.5rem;
}

body:has(.sidenav) > main.container {
  padding: 5rem 1rem 1rem;
}

body:has(.sidenav) > main > .spacing-div {
  height: 3.75rem;
}

.sidenav .icon-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1rem;
}
.sidenav .icon-buttons > :last-child {
  margin: 0;
  padding: 0;
  border: none;
  width: 1.4rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
/* theme toggle */
.sidenav .icon-buttons > :first-child {
  --pico-size: 1.4rem;
  line-height: 1rem;
  margin: 0;
}

.sidenav.open {
  width: 100%;
}

.sidenav > nav > ul {
  margin: 0 1rem;
}

.sidenav > nav > ul:last-child {
  margin-top: auto;
}

.dropdown-nav aside {
  background-color: var(--pico-card-background-color);
  padding: 0 0.5rem;
}

:is(.sidenav, .dropdown-nav) :is(a, #family-dropdown summary):has(i) {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2rem 1fr;
  align-items: center;
}
:is(.sidenav, .dropdown-nav) :is(a, #family-dropdown summary) {
  text-decoration: none;
  transition: color var(--pico-transition);
}
:is(.sidenav, .dropdown-nav)
  :is(a, #family-dropdown summary):is(:hover, :focus) {
  color: var(--pico-primary);
}

:is(.sidenav, .dropdown-nav) .active > a {
  color: var(--pico-primary);
}

@media screen and (min-width: 576px) {
  .sidenav.open {
    width: 250px;
  }
}

@media screen and (min-width: 992px) {
  .sidenav {
    width: 250px;
    padding-top: 1rem;
    z-index: 6;
  }
  .sidenav.notvisible {
    visibility: visible;
  }

  body:has(.sidenav) {
    padding-left: 250px;
  }

  body:has(.sidenav) > main.container {
    padding: 4.5rem 2rem 1rem;
  }

  body:has(.sidenav) > header {
    width: calc(100% + 250px); /* twice the value of the parent's padding*/
    margin-left: -250px; /* -1 * parent's padding*/
    padding-left: 2rem;
  }

  nav.topnav > button {
    display: none;
  }
}
