:not(form) :not(footer) button {
  display: inline;
  width: fit-content;
}

#nav-button {
  font-size: 1.5rem;
  line-height: 1em;
  height: 3rem;
  position: fixed;
  inset: 0 0 auto;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--background-color);
}

#nav-button > button {
  padding: 0.5rem;
  margin: 0;
  border: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow-x: hidden;
  transition: width 0.2s;
  padding: 4.5rem 0 1rem;
  background: var(--card-background-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.sidenav > nav {
  /*just so that we are safe from overflowing*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav .nav-title {
  margin: 0;
}

body > header {
  position: sticky;
  top: 0;
  z-index: 4;
  margin: 0;
  padding: 0 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  background: var(--card-background-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

body > header > * {
  margin: 0;
  padding: 0.5rem;
}

body > main.container {
  padding: 4rem 1rem 1rem;
}

body > main > .spacing-div {
  height: 3.75rem;
}

.icon-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.sidenav.open {
  width: 100%;
}

.sidenav > nav > ul {
  margin: 0 1rem;
}

.sidenav > nav > ul:last-child {
  margin-top: auto;
}

.sidenav :is(a, #family-dropdown summary):has(i) {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2rem 1fr;
  align-items: center;
}
.sidenav :is(a, #family-dropdown summary) {
  text-decoration: none;
  color: var(--contrast);
  transition: color var(--transition);
}
.sidenav :is(a, #family-dropdown summary):is(:hover, :focus) {
  color: var(--primary);
}

@media screen and (min-width: 576px) {
  .sidenav.open {
    width: 250px;
  }
}

@media screen and (min-width: 992px) {
  .sidenav {
    width: 250px;
    padding-top: 1rem;
  }

  body {
    padding-left: 250px;
  }

  body > main.container {
    padding: 4rem 2rem 1rem;
  }

  body > header {
    width: calc(100% + 250px); /* twice the value of the parent's padding*/
    margin-left: -250px; /* -1 * parent's padding*/
    padding-left: 2rem;
  }

  #nav-button,
  .sidenav .closebtn {
    display: none;
  }
}
