.align-end {
  display: flex;
  flex-direction: column;
}
.align-end > *:last-child {
  margin-top: auto;
}

.profile {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.profile > span {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.grid-clip {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: var(--grid-spacing-horizontal);
}
