.align-end {
  display: flex;
  flex-direction: column;
}
.align-end > *:last-child {
  margin-top: auto;
}

.profile {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.profile > i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 999ch;
}

.help {
  margin-left: var(--pico-grid-spacing-horizontal);
  margin-bottom: 2.625rem;
}

.help::before {
  white-space: pre;
}
