.row .card {
  height: 100px;
  padding: 0 1rem 0 0;
  margin-bottom: 1em;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  border-radius: 50px;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.row .card > img {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 1em;
}
