@media screen and (max-width: 991px) {
  tr {
    display: grid;
    grid:
      "lastname firstname"
      "phone phone"
      "email email" / auto 1fr;
    border-bottom: var(--border-width) solid var(--table-border-color);
    align-items: center;
  }
  td {
    border-bottom: none;
    align-items: center;
  }
  td.lastname {
    grid-area: lastname;
    padding-right: 0;
    padding-bottom: 0;
  }
  td.firstname {
    grid-area: firstname;
    padding-left: 0.5rem;
    padding-bottom: 0;
  }
  td.email {
    grid-area: email;
    text-align: end;
  }
  td.phone-number {
    grid-area: phone;
    text-align: end;
    padding-bottom: 0;
  }
  thead {
    display: none;
  }
}

.card-details {
  color: gray;
  font-size: 12pt;
}

@media screen and (max-width: 425px) {
  .card-details {
    font-size: 10pt;
  }
}

.card-content {
  display: grid;
  align-items: center;
}

.row .card {
  height: 100px;
  padding: 0;
  margin-bottom: 1em;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  border-radius: 50px;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.row .card > img {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 1em;
}

.hidden {
  display: none;
}
